footer {
  background-color: #0950a0;
  font-size: 1rem;
  line-height: 1.7;
}

footer h5 {
  color: white;
}

footer a {
  color: white;
}

footer a:hover{
  color:white;
}

small {
  color: white;
}

h1 {
  color: #0950a0;
}

.btn-solar {
  color: white;
  background-color: #ff7f00;
  border-color: #ff7f00;
}

.btn-premium {
  color: white;
  background-color: #ff0000;
  border-color: #ff0000;
}

.btn-renovation {
  color: white;
  background-color: #53439c;
  border-color: #53439c;
}

.btn-b-light {
  color: white;
  background-color: #5aabd9;
  border-color: #5aabd9;
}

.bg-solar {
  background-color: #ff7f02ad;
}

.bg-b-light {
  background-color: #5aabd9ad;
}

.bg-renovation {
  background-color: #53439cad;
}

.bg-premium {
  background-color: #ff0000ad;
}

.bg-gray {
  background-color: rgba(9, 80, 159, 0.17);
}

.bg-primary-trans{
  background-color: #0950a0b5;
}
.btn-outline-white-disabled {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: white;
  border: solid 2px white;
  border-radius: 3px;
  transition: .4s;
  background-color: transparent;
  border-radius: 20px;
}
.btn-outline-white {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: white;
  border: solid 2px white;
  border-radius: 3px;
  transition: .4s;
  background-color: transparent;
  border-radius: 20px;
}

.btn-outline-white:hover {
    background: white;
    color: #0950a0;
}
@media screen and (min-width:970px){

.my-5-minus{
  margin-top: -3rem;
  margin-bottom: -3rem;
}
}

.line-tb {
color: #364e96;/*文字色*/
padding: 0.5em 0;/*上下の余白*/
border-top: solid 3px #364e96;/*上線*/
border-bottom: solid 3px #364e96;/*下線*/
}

.fw-big::first-letter{
font-size: 2em;
color: #364e96;
}
