.ribbon_box {
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 20px 0;
    background: #f1f1f1;
  }
.ribbon18 {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 10px;
    box-sizing: border-box;
    padding: 0 10px;
    margin: 0;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 0.1em;
    color: white;
    background: #ff7470;
    box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.1);
}
.ribbon18:before {
    position: absolute;
    content: '';
    top: -8px;
    left: -7px;
    border: none;
    height: 38px;
    width: 7px;
    background: #ff7470;
    border-radius: 5px 0 0 5px;
}
.ribbon18:after {
    position: absolute;
    content: '';
    top: -7px;
    left: -5px;
    border: none;
    height: 7px;
    width: 5px;
    background: #b25552;
    border-radius: 5px 0 0 5px;
}
