/* 全体的なスタイル
-------------------------------------------------- */
/* フッターの下の空白と明るめの本文 */

body {
  color: #5a5a5a;
  position: relative;
}


/* カルーセルをカスタマイズ
-------------------------------------------------- */

/* カルーセルの基本クラス */
.carousel {
  margin-bottom: 4rem;
}
/* 画像を配置しているので、キャプションを手助けする必要がある */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* img要素の配置のために高さを宣言 */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.carousel h1{
  color: white;
}


/* マーケティング・コンテンツ
-------------------------------------------------- */

/* カルーセルの下の3列の中のテキストを整列 */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* フィーチャー
------------------------- */

.featurette-divider {
  margin: 0; /* ブートストラップの&lt;hr&gt;をもっと外に出す */
}

/* マーケティングの見出しを細めにする */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* レスポンシブCSS
-------------------------------------------------- */
@media (min-width: 40em){
  .first-slide img{
    src:url(img/index/minicarousel1.jpg);
  }
}

@media (min-width: 40em) {
  /* カルーセルコンテンツのサイズを大きくする */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 3rem;
  }
}

.mega-dropdown {
  position: static;
}
.dropdown-menu.mega-dropdown-menu.show {
  width: 100%;
  border-radius: 0;
  border: 0;
  margin:0;
  background-color:#017bc4;
}

.dropdown-menu.mega-dropdown-menu.show a{
  color: white;
}

.dropdown-item:hover{
  background-color:#017bc4;
}

.dropdown-submenu:hover .dropdown-submenu-menu {
  visibility: visible;
}

.dropdown-submenu-menu {
  position: absolute;
  left: 0;
  visibility: hidden;
}

p.card-text {
  word-wrap: break-word;
  white-space: pre-line;
  word-break: break-all;
}

.jumbotron {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-position: center 60%;
  margin-top: rem;
}
