.google-maps{
  margin-left: auto;
  margin-right: auto;
}

.google-maps {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
}

.google-maps iframe,
.google-maps object,
.google-maps embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.under {
  border-bottom: solid 3px #0950a0;
  }
  @media (-ms-high-contrast: none), (-ms-high-contrast: active) {
          .ms-about{
            margin-left: auto;
            margin-right: auto;
          }
       }
